/* index page css */

h1 {
    color: var(--text-light);
}

p {
    color: var(--text-light);
}

footer {
    height: 4rem;
    background-color: var(--bg-light);
    position: absolute;
    bottom: 0;
    width: 100%;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
}

#main-feed {
    margin: 1rem;
    width: 50%;
    background: black;
}

#main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-navitem {
    display: inline;
}

.main-navitem a {
    text-decoration: none;
    color: var(--text-light); 
}

.main-navitem a:hover {

}

#main-info {
    text-align: center;
    margin: 1rem;
    padding-top: 2rem;
}

#main-name {
    margin: 0;
}

#main-tagline {
    margin: 0;
}

#main-logo {
    width: 7rem;
    height: auto;
}

#link-container {

}

.link-icon img {
    width: auto;
    height: 1.75rem;
    padding: 0.25rem;

    transition: all 0.3s;
    filter: invert(99%) sepia(4%) saturate(18%) hue-rotate(245deg) brightness(106%) contrast(100%);    
}

.link-icon :hover {
    filter: invert(99%) sepia(0%) saturate(4600%) hue-rotate(35deg) brightness(117%) contrast(38%);
}
