/* index page css */

#main-banner {
    text-align: center;
    background-color: var(--bg-light);

    padding-top: 3rem;
    padding-bottom: 3rem;
}

#main-banner h1 {
    margin: 0;
    color: var(--text-light);
}

#main-banner h3 {
    margin: 0;
    color: var(--text-light);
}

#main-logo {
    width: 10rem;
    height: auto;
}

.main-body {
    text-align: center;
}

p {
    color: var(--text-light);
}

footer {
    height: 4rem;
    background-color: var(--bg-light);
    position: absolute;
    bottom: 0;
    width: 100%;
}
