
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="$KS_SITEURL/static/karaticon.png">
        <link rel="stylesheet" href="$KS_SITEURL/stylesheets/index.css"> 
        <link rel="stylesheet" href="$KS_SITEURL/stylesheets/main.css"> 
        <title>KaratsubaScans</title>
        <!-- KS_HEAD -->
    </head>

    <body>

        <div id="main-container">
            <div id="main-feed">
                <div id="main-nav">
                    <p class="main-navitem"><a href="$KS_SITEURL/index.html">home</a> |</p> 
                    <p class="main-navitem"><a href="$KS_SITEURL/blog.html">blog</a> |</p> 
                    <p class="main-navitem"><a href="$KS_SITEURL/team.html">team</a></p> 
                </div>
                <div id="page-mount">
                    <!-- KS_PAGEMOUNT -->
                </div>
            </div>
            <div id="main-info">
                <img id="main-logo" src="$KS_SITEURL/static/logo.png" />
                <h1 id="main-name">からつばSCANS</h1>
                <p id="main-tagline">manga scans of questionable quality</p>
                <hr/>
                <div id="link-container">
                    <a class="link-icon" href="https://github.com/KaratsubaScans">
                        <img src="$KS_SITEURL/static/svg/github.svg" />
                    </a>
                    <a class="link-icon" href="https://read.karatsubascans.com/library">
                        <img src="$KS_SITEURL/static/svg/book.svg" />
                    </a>
                    <a class="link-icon" href="https://files.karatsubascans.com">
                        <img src="$KS_SITEURL/static/svg/download.svg" />
                    </a>
                </div>
            </div>
        </div>

    </body>

    <footer>
        <div id="footer-container">
            <p id="footer-note">All KaratsubaScans content is free to be modified and distributed without requesting permission.</p>
        </div>
    </footer>

</html>

